
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fira Sans', sans-serif;
    margin-top: 50px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}

.div-container {
    background-color: rgb(182, 231, 182); 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 350px; 
}

h2 {
    text-align: center;
    color: darkgreen;
    margin-bottom: 20px;
    margin-top: 0;
}

.input-grupo {
    display: flex;
    gap: 10px;
    margin-bottom: 20px; 
}

#inputTarea {
    flex-grow: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    color: darkgreen;
    font-weight: bold;
}

#inputTarea::placeholder {
    text-align: center;
    color: rgba(0, 100, 0, 0.5); 
}

.input-grupo button {
    background-color: rgb(136, 158, 11);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.input-grupo button:hover {
    background-color: rgb(102, 122, 8);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background: #fff;
    display: flex;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px; 
}
.btn-eliminar {
    background-color: #ff4d4d; 
    color: white;
    margin-left: 10px;
    padding: 6px 12px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-eliminar:hover {
    background-color: #cc0000; 
}